# Operating System
.DS_Store
.DS_Store?
._*
Thumbs.db

# IDEs and Editors
.vscode/
*.swp
*.swo
*~

# Environment variables
.env
.env.local
.env.*.local

# Exe
*.war

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
*.temp
.cache/

# Ignorera alla WAR-filer oavsett var de ligger
*.war

# Ignorera Mavens byggmapp
**/target/

# Ignorera Gradles byggmappar (för Android)
.gradle/
**/build/
/.idea/workspace.xml
/.idea/misc.xml
*.lnk
.idea/
